.helpset > h4 {
	padding: 5px 10px 5px 10px;
}

.helptable li > ul {
	padding: 0px 20px 0px 20px;
	margin: 0;
	color: rgb(80, 80, 80);
	font-style: italic;
}

.helpset > ul {
	padding: 0;
	margin: 0;
}

.helptable ul > ul {
	padding: 0px 20px 0px 40px;
	margin: 0;
}

.helptable {
	text-align: left;
	max-width: 800px;
	width: 100%;
	display: block;
	margin: auto;
}

.helpheader {
	position: relative;
	display: block;
	padding-left: 10px;
	margin-bottom: 10px;
	
	font-weight: bold;
	color: rgb(255, 255, 255);
	background-color: rgb(51, 51, 51);
	border-bottom: 4px solid rgb(29, 29, 29);
	
	-webkit-box-shadow: inset rgba(255,255,255,0.06) 0px 1px 0px, inset rgba(255,255,255,0.06) 0px -1px 0px;
    -moz-box-shadow: inset rgba(255,255,255,0.06) 0px 1px 0px, inset rgba(255,255,255,0.06) 0px -1px 0px;
    -khtml-box-shadow: inset rgba(255,255,255,0.06) 0px 1px 0px, inset rgba(255,255,255,0.06) 0px -1px 0px;
    box-shadow: inset rgba(255,255,255,0.06) 0px 1px 0px, inset rgba(255,255,255,0.06) 0px -1px 0px;
}

.helpset {
	display: block;
	margin: 0px 0px 40px 0px;
	padding-bottom: 10px;
	width: 100%;
	
	background: rgb(250, 250, 250) url("http://chronet.com/styles/chronet/xenforo/gradients/category-23px-light.png") repeat-x top;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.35) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.35)), color-stop(100%,rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%);
	
	border: 1px solid rgba(211, 211, 211, 0.35);
	
	-webkit-box-shadow: rgba(0,0,0,0.05) 0px 1px 4px;
    -moz-box-shadow: rgba(0,0,0,0.05) 0px 1px 4px;
    -khtml-box-shadow: rgba(0,0,0,0.05) 0px 1px 4px;
    box-shadow: rgba(0,0,0,0.05) 0px 1px 4px;
}

.egg:hover {
	transition: opacity 0.5s;
	opacity: 0;
}

.baseHtml a, .baseHtml a:link, .baseHtml a:visited {
	color: rgb(0,125,200);
	text-decoration: underline;
	display: inline-block;
}

.baseHtml a:hover, .baseHtml a:active {
	color: rgb(0,180,250);
	cursor: pointer;
}